div#container {
  width: 800px;
  height: 600px;
  background: url("../images/frame_copper_ver02.png") no-repeat;
}

div#simtitle {
  position: absolute;
  left: 100px;
  top: 20px;
  height: 40px;
  width: 650px;
  text-align: center;
  font-size: 36px;
  /* font-family: Times; */
  font-family: "Comic Sans MS", cursive, sans-serif;
}

div#vartitle {
  position: absolute;
  left: 629px;
  top: 95px;
  height: 25px;
  width: 150px;
  text-align: center;
  font-size: 16px;
  /* font-family: serif; */
  font-family: "Comic Sans MS", cursive, sans-serif;
}

div#ctrltitle {
  position: absolute;
  left: 629px;
  top: 480px;
  height: 22px;
  width: 150px;
  text-align: center;
  font-size: 16px;
  /* font-family: serif; */
  font-family: "Comic Sans MS", cursive, sans-serif;
}

div#copyright {
  position: absolute;
  top: 585px;
  height: 10px;
  width: 800px;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
}
#rotationbutton {
  position: relative;
  left: 110px;
  top: 80px;
}
canvas#simscreen {
  position: absolute;
  left: 30px;
  top: 100px;
  height: 400px;
  width: 550px;
  z-index: 1;
  /* border: 1px solid black; */
}
div#ctrltitle {
  position: absolute;
  left: 629px;
  top: 475px;
  height: 22px;
  width: 150px;
  text-align: center;
  font-size: 16px;
  /* font-family: serif; */
  font-family: "Comic Sans MS", cursive, sans-serif;
}
div#commentboxcorrect {
  border-top-width: 2px;
  border-top-color: #f0ab09;
  position: absolute;
  left: 30px;
  top: 480px;
  height: 65px;
  width: 285px;
  color: green;
  text-align: left;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

div#commentboxleft {
  border-top-style: dotted;
  border-top-width: 2px;
  border-top-color: #f0ab09;
  position: absolute;
  left: 28px;
  top: 505px;
  height: 65px;
  width: 285px;
  color: #e7722b;
  text-align: left;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

div#commentboxright {
  border-top-style: dotted;
  border-top-width: 2px;
  border-top-color: #f0ab09;
  /* border-left-style: dotted;
  border-left-width: 2px;
  border-left-color: #f0ab09; */
  position: absolute;
  left: 313px;
  top: 505px;
  height: 65px;
  width: 285px;
  color: #e7722b;
  text-align: right;
  font-size: 16px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
div#controls {
  position: absolute;
  left: 607px;
  top: 435px;
  height: 140px;
  width: 175px;
}

#playpausebutton {
  position: inherit;
  left: 45px;
  top: 80px;
}
input[type="text"] {
  /* Set width to 40characters */
  width: 4ch;
  /* prevent overflow of container */
  max-width: 10%;
}
#titleincanvas {
  position: absolute;
  left: 250px;
  top: 100px;
  font-family: "Comic Sans MS";
}

div#variables {
  position: absolute;
  left: 627px;
  top: 150px;
  height: 285px;
  width: 150px;
  font-family: "Comic Sans MS";
}

#playpausebutton {
  position: inherit;
  left: 45px;
  top: 80px;
}

.rotationbutton {
  position: absolute;
  left: 110px;
  top: 80px;
}
.slider:hover {
  opacity: 1;
}

.variable {
  position: relative;
  left: 15px;
  border: none;
  width: 40px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  outline: none;
  background-color: #d7d7d7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 23px;
  background: url(../images/slider_handles.png) 0px -23px no-repeat;
  z-index: 2;
  cursor: default;
  outline: none;
  -webkit-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: url(../images/slider_handles.png) -4px -27px no-repeat;
  z-index: 2;
  cursor: default;
  outline: none;
  -webkit-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  border-radius: 50%;
}
